{% extends 'base_adm.html' %}

{% block content %}

    <h3>Adicionar Palavras Suspeitas</h3>
    <hr>
    <form action="" method="post">
        {% if showMessage == True %}
        <div class="row mb-1">
            <div class="col-md-12">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    Mensagem Adicionada com sucesso!
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-md-8">
                <input type="text" name="message" placeholder="Digite uma Palavra" class="form-control">
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-success">Adicionar</button>
            </div>
        </div>
    </form>
    <br>
    <h3>Listagem</h3>
    <hr>
    <table class="table table-hover text-nowrap">
        <thead>
            <tr>
                <th>#</th>
                <th>Mensagem</th>
            </tr>
        </thead>
        <tbody>
            {% set ns = namespace(contadorAux = 1) %}
            {% for palavra in palavrasSuspeitas %}
                <tr>
                    <td>{{ ns.contadorAux }}</td>
                    <td>{{ palavra }}</td>
                </tr>
            {% set ns.contadorAux = ns.contadorAux + 1 %}
            {% endfor %}
        </tbody>

    </table>
{% endblock %}