{% extends 'base.html' %}

{% block content %}

    <h3>Chat</h3>
    <hr>
    <div class="overflow-auto" id="chatBlock" style="height: 300px; border: solid; border-width: 2px; border-color: black; padding: 8px;">
        {% for mensagem in mensagensChat %}
            {{ mensagem }}
            <br>
        {% endfor %}
        <!-- This is an example of using .overflow-auto on an element with set <br> width and height dimensions. By design, this content will vertically scroll.
        This is an example of using .overflow-auto on an element with set <br> width and height dimensions. By design, this content will vertically scroll.
        This is an example of using .overflow-auto on an element with set <br> width and height dimensions. By design, this content will vertically scroll.
        This is an example of using .overflow-auto on an element with set <br> width and height dimensions. By design, this content will vertically scroll.
        This is an example of using .overflow-auto on an element with set <br> width and height dimensions. By design, this content will vertically scroll.
        This is an example of using .overflow-auto on an element with set <br> width and height dimensions. By design, this content will vertically scroll.
        This is an example of using .overflow-auto on an element with set <br> width and height dimensions. By design, this content will vertically scroll.
        This is an example of using .overflow-auto on an element with set <br> width and height dimensions. By design, this content will vertically scroll.
        This is an example of using .overflow-auto on an element with set <br> width and height dimensions. By design, this content will vertically scroll.
        This is an example of using .overflow-auto on an element with set <br> width and height dimensions. By design, this content will vertically scroll.
        This is an example of using .overflow-auto on an element with set <br> width and height dimensions. By design, this content will vertically scroll.
        This is an example of using .overflow-auto on an element with set <br> width and height dimensions. By design, this content will vertically scroll.
        This is an example of using .overflow-auto on an element with set <br> width and height dimensions. By design, this content will vertically scroll.
        This is an example of using .overflow-auto on an element with set <br> width and height dimensions. By design, this content will vertically scroll.
        This is an example of using .overflow-auto on an element with set <br> width and height dimensions. By design, this content will vertically scroll.
        This is an example of using .overflow-auto on an element with set <br> width and height dimensions. By design, this content will vertically scroll. -->
    </div>
    <br>
    <form action="" method="post">
        {% if alertMessage != 0 %}
        <div class="row mb-1">
            <div class="col-md-12">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {% if alertMessage == 1 %}
                    Usuário não pode enviar mensagem para si mesmo!
                {% else %}
                    Por favor, digite uma mensagem.
                {% endif %}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-md-3">
                <input type="text" name="message" id="" placeholder="Digite Sua Mensagem" class="form-control">
            </div>
            <div class="col-md-3">
                <select name="user_from" id="" class="form-control">
                    {% for user in listUsers %}
                        <option value={{ user }}>From: {{ user }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3">
                <select name="user_to" id="" class="form-control">
                    {% for user in listUsers %}
                        <option value={{ user }}>To: {{ user }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-success">Enviar Mensagem</button>
            </div>
        </div>
    </form>
{% endblock %}