{% extends 'base.html' %}

{% block content %}

    <h3>Adicionar um Usuário</h3>
    <hr>
    <form action="" method="post">
        {% if cadastrouUsuario != 0 %}
        <div class="row mb-1">
            <div class="col-md-12">
                {% if cadastrouUsuario == 1 %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    Usuário cadastrado com sucesso!
                {% else %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    Usuário já cadastrado!
                {% endif %}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-md-8">
                <input type="text" name="username" placeholder="Digite seu Usuário" class="form-control">
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-success">Adicionar</button>
            </div>
        </div>
    </form>
    <br>
    <h3>Listagem de Usuários</h3>
    <hr>
    <table class="table table-hover text-nowrap">
        <thead>
            <tr>
                <th>#</th>
                <th>Usuário</th>
            </tr>
        </thead>
        <tbody>
            {% set ns = namespace(contadorAux = 1) %}
            {% for user in listUsers %}
                <tr>
                    <td>{{ ns.contadorAux }}</td>
                    <td>{{ user }}</td>
                </tr>
            {% set ns.contadorAux = ns.contadorAux + 1 %}
            {% endfor %}
        </tbody>

    </table>
{% endblock %}