{% extends 'base_adm.html' %}

{% block content %}
    <h3>Listagem de Mensagens Suspeitas</h3>
    <hr>
    <table class="table table-hover text-nowrap">
        <thead>
            <tr>
                <th>#</th>
                <th>Tópico</th>
                <th>Mensagem</th>
            </tr>
        </thead>
        <tbody>
            {% set ns = namespace(contadorAux = 1) %}
            {% for message in listMessages %}
                <tr>
                    <td>{{ ns.contadorAux }}</td>
                    <td>{{ message[0] }}</td>
                    <td>{{ message[1] }}</td>
                </tr>
            {% set ns.contadorAux = ns.contadorAux + 1 %}
            {% endfor %}
        </tbody>

    </table>
{% endblock %}